<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="X10JavaBuilder"
         name="X10 Java Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="false">
         <run
               class="x10dt.ui.launch.java.builder.X10JavaBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="x10nature"
         name="X10 Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="x10dt.ui.launch.java.nature.X10ProjectNature">
         </run>
      </runtime>
      <builder
            id="x10dt.ui.launch.java.X10JavaBuilder">
      </builder>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            id="x10dt.ui.launch.java.add.builder">
         <action
               label="%add.x10.java-back-end.builder"
               tooltip="%add.x10.java-back-end.builder.descr"
               class="x10dt.ui.launch.java.actions.BuilderEnable"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               enablesFor="+"
               id="x10dt.ui.launch.java.actions.enableBuilderAction">
         </action>
         <visibility>
            <not>
               <or>
                  <objectState
                        name="projectNature"
                        value="x10dt.ui.launch.java.x10nature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="x10dt.ui.launch.cpp.x10nature">
                  </objectState>
               </or>
            </not>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="x10dt.ui.launch.java.obj.contrib.convert-to-cpp"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <action
               class="x10dt.ui.launch.java.actions.ConvertToCppBackEndAction"
               enablesFor="+"
               id="x10dt.ui.launch.java.actions.ConvertToCppBackEndAction"
               label="%convert.cpp.back-end"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
            <objectState
                  name="projectNature"
                  value="x10dt.ui.launch.java.x10nature">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
 

</plugin>
