<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.launch.rmLaunchConfigurations">
      <launchConfiguration
            class="x10dt.ui.launch.cpp.rms.launch_configuration.SocketsRMLaunchConfigurationFactory"
            id="x10dt.ui.launch.cpp.rms.launch.config.sockets">
      </launchConfiguration>
   </extension>
   <extension
         point="org.eclipse.ptp.launch.rmLaunchConfigurations">
      <launchConfiguration
            class="x10dt.ui.launch.cpp.rms.launch_configuration.StandaloneRMLaunchConfigurationFactory"
            id="x10dt.ui.launch.cpp.rms.launch.config.standalone">
      </launchConfiguration>
   </extension>
   <extension
         point="org.eclipse.ptp.launch.rmLaunchConfigurations">
      <launchConfiguration
            class="x10dt.ui.launch.cpp.rms.launch_configuration.PAMIRMLaunchConfigurationFactory"
            id="x10dt.ui.launch.cpp.rms.launch.config.pami">
      </launchConfiguration>
   </extension>
   <extension
         point="org.eclipse.ptp.services.core.providers">
      <provider
            class="org.eclipse.ptp.rmsystem.ResourceManagerServiceProvider"
            id="x10dt.ui.launch.cpp.rms.provider.sockets"
            name="Sockets"
            serviceId="org.eclipse.ptp.core.LaunchService">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ptp.services.core.providers">
      <provider
            class="org.eclipse.ptp.rmsystem.ResourceManagerServiceProvider"
            id="x10dt.ui.launch.cpp.rms.provider.standalone"
            name="Standalone"
            serviceId="org.eclipse.ptp.core.LaunchService">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ptp.services.core.providers">
      <provider
            class="org.eclipse.ptp.rmsystem.ResourceManagerServiceProvider"
            id="x10dt.ui.launch.cpp.rms.provider.pami"
            name="PAMI"
            serviceId="org.eclipse.ptp.core.LaunchService">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ptp.services.ui.providerContributors">
      <providerContributor
            class="org.eclipse.ptp.ui.wizards.RMProviderContributor"
            id="x10dt.ui.launch.cpp.rms.contributor.sockets">
      </providerContributor>
   </extension>
   <extension
         point="org.eclipse.ptp.services.ui.providerContributors">
      <providerContributor
            class="org.eclipse.ptp.ui.wizards.RMProviderContributor"
            id="x10dt.ui.launch.cpp.rms.contributor.standalone">
      </providerContributor>
   </extension>
   <extension
         point="org.eclipse.ptp.services.ui.providerContributors">
      <providerContributor
            class="org.eclipse.ptp.ui.wizards.RMProviderContributor"
            id="x10dt.ui.launch.cpp.rms.contributor.pami">
      </providerContributor>
   </extension>

   <extension
         point="org.eclipse.ptp.core.resourceManagers">
      <resourceManager
            class="x10dt.ui.launch.cpp.rms.provider.PAMIResourceManagerFactory"
            id="x10dt.ui.launch.cpp.rms.provider.pami">
         <resourceManagerControl
             class="x10dt.ui.launch.cpp.rms.provider.PAMIResourceManagerFactory"
             id="x10dt.ui.launch.cpp.rms.provider.pami.control">
         </resourceManagerControl>
         <resourceManagerMonitor
            class="x10dt.ui.launch.cpp.rms.provider.PAMIResourceManagerFactory"
            id="x10dt.ui.launch.cpp.rms.provider.pami.monitor">
         </resourceManagerMonitor>
      </resourceManager>
   </extension>
   
     <extension
         point="org.eclipse.ptp.core.resourceManagers">
      <resourceManager
            class="x10dt.ui.launch.cpp.rms.provider.SocketsResourceManagerFactory"
            id="x10dt.ui.launch.cpp.rms.provider.sockets">
         <resourceManagerControl
             class="x10dt.ui.launch.cpp.rms.provider.SocketsResourceManagerFactory"
             id="x10dt.ui.launch.cpp.rms.provider.sockets.control">
         </resourceManagerControl>
         <resourceManagerMonitor
            class="x10dt.ui.launch.cpp.rms.provider.SocketsResourceManagerFactory"
            id="x10dt.ui.launch.cpp.rms.provider.sockets.monitor">
         </resourceManagerMonitor>
      </resourceManager>
   </extension>
   


   
       <extension
         point="org.eclipse.ptp.core.resourceManagers">
      <resourceManager
            class="x10dt.ui.launch.cpp.rms.provider.StandaloneResourceManagerFactory"
            id="x10dt.ui.launch.cpp.rms.provider.standalone">
         <resourceManagerControl
             class="x10dt.ui.launch.cpp.rms.provider.StandaloneResourceManagerFactory"
             id="x10dt.ui.launch.cpp.rms.provider.standalone.control">
         </resourceManagerControl>
         <resourceManagerMonitor
            class="x10dt.ui.launch.cpp.rms.provider.StandaloneResourceManagerFactory"
            id="x10dt.ui.launch.cpp.rms.provider.standalone.monitor">
         </resourceManagerMonitor>
      </resourceManager>
   </extension>
   
    <extension
         point="org.eclipse.ptp.core.runtimeSystems">
      <runtimeSystem
            class="x10dt.ui.launch.cpp.rms.provider.PAMIRuntimeSystemFactory"
            id="x10dt.ui.launch.cpp.rms.provider.pami">
      </runtimeSystem>
   </extension>
   
      <extension
         point="org.eclipse.ptp.core.runtimeSystems">
      <runtimeSystem
            class="x10dt.ui.launch.cpp.rms.provider.SocketsRuntimeSystemFactory"
            id="x10dt.ui.launch.cpp.rms.provider.sockets">
      </runtimeSystem>
       </extension>
      
         <extension
         point="org.eclipse.ptp.core.runtimeSystems">
      <runtimeSystem
            class="x10dt.ui.launch.cpp.rms.provider.StandaloneRuntimeSystemFactory"
            id="x10dt.ui.launch.cpp.rms.provider.standalone">
      </runtimeSystem>
  
   </extension>
   
</plugin>
